<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Login</title>
    <link rel="stylesheet" th:href="@{/css/admin.css}">
</head>
<body>
<div class="container small">
    <h1>Admin Login</h1>

    <p class="error" th:if="${error}" th:text="${error}"></p>

    <form method="post" th:action="@{/admin/login}">
        <label>Email</label>
        <input type="email" name="email" required>

        <label>Password</label>
        <input type="password" name="password" required>

        <button type="submit">Login</button>
    </form>
</div>
</body>
</html>